<div class="container" id= "home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Alpha Blog is an opportunity for you to create and manage your articles from anywhere.</p>
    <hr class="my-4">
    <p>It opens a world where you can explore the thoughts of people around the world. </p>
    <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
